*,
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  max-width: 100%;
  scroll-behavior: smooth;
  font-size: 22px;
  font-family: "Museo Sans 500";
}

body {
  max-width: 1717px;
  margin: auto;
}

header {
  background-color: #434B9C;
  height: 900px;
}
header .sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 4.7rem;
  height: 55rem;
  padding-bottom: 2rem;
  background-color: #fff;
}
header .sidebar__logo {
  box-shadow: 1px 1px 3px rgba(57, 58, 68, 0.6);
}
header .sidebar__hamburger {
  box-shadow: 0.8px 1px 3px rgba(57, 58, 68, 0.6) !important;
  background-color: #434B9C;
  height: 5rem;
  width: 4.7rem;
  cursor: pointer;
  border-top: solid 2px rgba(241, 241, 241, 0.6901960784);
  border-bottom: none;
  border-right: none;
  border-left: none;
  box-shadow: 0px 1px 3px rgba(57, 58, 68, 0.1);
}
header .sidebar__hamburger-l1, header .sidebar__hamburger-l2, header .sidebar__hamburger-l3 {
  content: "";
  display: block;
  position: absolute;
  width: 1.4rem;
  border: solid 2px #fff;
  background-color: #fff;
  border-radius: 4px;
  left: 1.8rem;
}
header .sidebar__hamburger-l1 {
  top: 155px;
}
header .sidebar__hamburger-l2 {
  top: 165px;
}
header .sidebar__hamburger-l3 {
  top: 175px;
}
header .sidebar__icone {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5rem;
}
header .sidebar__icone--link {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Museo Sans 700";
  position: relative;
  color: #434B9C;
}
header .sidebar__icone--link::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1.1rem;
  border-bottom: solid 2px rgba(67, 75, 156, 0.678);
  left: 0;
  bottom: -10px;
}
header .sidebar__icone--link::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1.1rem;
  border-bottom: solid 2px rgba(67, 74, 156, 0.678);
  left: 0;
  top: 185px;
}
header .sidebar__icone i {
  position: relative;
  color: #434B9C;
  font-size: 1.3rem;
}
header .sidebar__icone i::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1.1rem;
  border-bottom: solid 2px rgba(67, 74, 156, 0.678);
  left: 0;
  top: 3.5rem;
}
header .header {
  display: flex;
  flex-direction: column;
  background-color: #434B9C;
}
header .header .header__titre {
  margin-left: 8rem;
  padding-top: 2rem;
  color: #fff;
  min-width: 20rem;
}
header .header .header__titre h1 {
  font-size: 2rem;
  font-family: "Museo 900";
  text-transform: uppercase;
  margin: 2rem auto;
}
header .header .header__titre span {
  font-style: italic;
  border: solid 1px white;
  padding: 4px 12px;
  border-radius: 5px;
  background-color: #fff;
  color: #434B9C;
}
header .header .header__titre .header__titre--calendar {
  font-family: "Museo sans 300";
}
header .header .header__titre .header__titre--calendar i {
  position: relative;
  border: solid 1px #BAABEB;
  padding: 10px;
  border-radius: 50%;
  background-color: #BAABEB;
  margin-right: 10px;
  font-size: 1.3rem;
}
header .header .header__titre .header__titre--calendar i::after {
  content: "31";
  position: absolute;
  font-size: 15px;
  left: 16px;
  top: 21px;
}
header .header .header__titre button {
  background-color: #434B9C;
  border: solid 1px #fff;
  margin-top: 30px;
  padding: 17px 40px;
  color: #fff;
  font-family: "Museo sans 300";
}
header .header .header__titre .header__titre--social-networks {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  margin-bottom: 1rem;
}
header .header .header__titre .header__titre--social-networks i {
  font-size: 1.6rem;
}
header .header .header__photo {
  margin-left: 80px;
}
header .header .header__photo button {
  position: absolute;
  z-index: 10;
  right: 45px;
  top: 30px;
  background-color: #434B9C;
  color: #fff;
  font-size: 0.7rem;
  padding: 13px 20px;
  border: none;
}
header .header .header__photo button:hover {
  background-color: #BAABEB;
  transition: all 300ms;
}
header .header .header__photo figure {
  display: flex;
  flex-flow: column;
  position: relative;
  margin-left: 1.05rem;
}
header .header .header__photo figure img {
  max-height: 650px;
  object-fit: cover;
}
header .header .header__photo figure figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  font-size: 15px;
  color: #434B9C;
  padding: 1rem;
  margin: -3.9rem;
  margin-left: 0rem;
  background-color: rgba(241, 241, 241, 0.6901960784);
}
header .header .header__photo figure figcaption img {
  width: 50px;
  height: auto;
}

@media screen and (min-width: 1100px) {
  header .header {
    flex-direction: row !important;
  }
  header .header__titre h1 {
    position: absolute;
    top: 11rem;
    z-index: 10;
    font-size: 3.4rem !important;
  }
  header .header .header__titre {
    margin-top: 8.25rem;
    min-width: 20rem;
    height: 37.5rem !important;
  }
  header .header .header__titre--calendar {
    min-width: 500px !important;
    margin-top: 15rem;
    margin-bottom: 1.5rem;
  }
  header .header .header__titre--social-networks {
    margin-top: 9rem !important;
  }
}
@media screen and (min-width: 1300px) {
  header .header__photo button {
    font-size: 1.5rem !important;
    top: 20px !important;
  }
  header .header__titre {
    min-width: 26.4rem !important;
  }
  header .header__titre h1 {
    font-size: 4.3rem !important;
  }
}

/*# sourceMappingURL=style.css.map */
