//change background logo in the menu 
@keyframes changeBgLogo{
    0%{
      background-color: transparent;   
    }
    50%{ 
      filter: saturate(180%);
   }
    100%{ 
       filter: saturate(180%);
    }
}

//change background hamburger in index.html
@keyframes changeBgHamburger{
  0%{
    background-color: transparent;   
  }
  60%{
    background: #3f47d3;
  }
  100%{
    background: #3f47d3;
  }
}


//ouverture menu
@keyframes appearMenuInTop {
  0% { transform: translateY(-1000px) }

100% { transform: translateY(0px) }
}

@keyframes appearMenuInRight{
  0% { transform: translateX(1000px) }

100% { transform: translateX(0px) }
}