@mixin pseudoElement{
    content:"";
    display: inline-block;
    position: absolute;
    width: 1.1rem;
    border-bottom: solid 2px rgba(67, 74, 156, 0.678);
    left: 0;
}

@mixin shadow {
    box-shadow: 0.8px 1px 3px rgba(57, 58, 68, 0.6)!important;
}

@mixin paddingButton{
    padding: 1.1rem 1.7rem;
}

@mixin chevron{
    font-size: 0.75rem;
    padding-left: 5px;
}