@mixin pseudoElement{
    content:"";
    display: inline-block;
    position: absolute;
    width: 1.1rem;
    border-bottom: solid 1px rgba(67, 74, 156, 0.678);
    left: 0;
}

@mixin shadow {
    box-shadow: 0.8px 1px 3px rgba(57, 58, 68, 0.6)!important;
}

@mixin paddingButton{
    padding: 0.7rem 0.9rem;
}

@mixin chevron{
    font-size: 0.75rem;
    padding-left: 5px;
}

@mixin social-networks{
    display: flex;
    align-items: center;
    outline : solid 1px transparent;
    & i {
        font-size: 1.6rem;
        transition: width 700ms, height 700ms, background-color 700ms, transform 700ms;
        border-radius: 50%;
        outline : solid 1px transparent;
        &:hover,
        &:focus{
            background-color: $purple;
        }
    }
}
