@import 'color';

*,
body,
html{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    text-decoration: none;
    max-width:100%; 
    scroll-behavior: smooth;
    font-size: 22px;
    font-family: "Museo Sans 500";  
}
body{
    max-width:1717px;
    margin:auto;
}
header{
    background-color: $background-color;
    height: 900px;
// sidebar
    .sidebar{
        display: flex;
        flex-direction: column;
        position: fixed; 
        width: 4.7rem;
        height:55rem;
        padding-bottom: 2rem;
        background-color: $white;
        &__logo{
            box-shadow: 1px 1px 3px rgba(57, 58, 68, 0.6);        
        }
        &__hamburger{
            box-shadow: 0.8px 1px 3px rgba(57, 58, 68, 0.6)!important;
            background-color: $background-color;
            height: 5rem;
            width: 4.7rem;
            cursor: pointer;
            border-top: solid 2px #f1f1f1b0;
            border-bottom: none;
            border-right: none;
            border-left: none;
            box-shadow: 0px 1px 3px rgba(57, 58, 68, 0.1);
            &-l1,
            &-l2, 
            &-l3{
                content:"";
                display: block;
                position: absolute;
                width: 1.4rem;
                border: solid 2px $white;
                background-color: $white;
                border-radius: 4px;
                left: 1.8rem;
            }
            &-l1{
                top:155px;
            }
            &-l2{
                top:165px;
            }
            &-l3{
                top:175px;
            }
        }
        &__icone{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 5rem;
            &--link{
                    padding-top: 2rem;
                    padding-bottom: 1.5rem;
                    margin-bottom: 1rem;
                    font-family: 'Museo Sans 700';
                    position: relative;
                    color: $background-color;
                    &::after{
                        content:"";
                        display: inline-block;
                        position: absolute;
                        width: 1.1rem;
                        border-bottom: solid 2px rgba(67, 75, 156, 0.678);
                        left:0;
                        bottom: -10px;
                    }
                    &::before{
                        content:"";
                        display: inline-block;
                        position: absolute;
                        width: 1.1rem;
                        border-bottom: solid 2px rgba(67, 74, 156, 0.678);
                        left:0;
                        top:185px;
                    }
            }
            & i{
                position: relative; 
                color: $background-color; 
                font-size: 1.3rem;
                &::after{
                    content:"";
                    display: inline-block;
                    position: absolute;
                    width: 1.1rem;
                    border-bottom: solid 2px rgba(67, 74, 156, 0.678);
                    left: 0;
                    top: 3.5rem;
                }     
            }
        }
    }

// header left text and painting
    .header{
        display: flex;
        flex-direction: column;
        background-color: $background-color;
        .header__titre{
            margin-left: 8rem;
            padding-top: 2rem;
            color: $white;
            h1{
                font-size: 2rem;
                font-family: 'Museo 900';
                text-transform : uppercase;
                margin: 2rem auto;
            }
            span{
                font-style: italic;
                border: solid 1px white;
                padding:4px 12px;
                border-radius:5px;
                background-color: $white;
                color: $background-color;
            }
            .header__titre--calendar {
                font-family: 'Museo sans 300';
                i{
                    position: relative;
                    border: solid 1px $purple;
                    padding:10px;
                    border-radius: 50%;
                    background-color: $purple;
                    margin-right: 10px;
                    font-size:1.3rem;
                    &::after{
                        content:"31";
                        position: absolute; 
                        font-size: 15px;
                        left:16px;
                        top:21px;
                    }
                }  
            }
            button{
                background-color: $background-color;
                border: solid 1px $white;
                margin-top: 30px;
                padding:17px 40px;
                color: $white;
                font-family: 'Museo sans 300';
            }
            .header__titre--social-networks{
                margin-top: 5rem;
                display: flex;
                align-items: center;
                column-gap: 1.5rem;
                margin-bottom:1rem;
                & i {
                    font-size: 1.6rem;
                }
            }
        }
        .header__photo{
            margin-left:80px;
            button{
                position: absolute;
                z-index: 10;
                right: 45px;
                top:30px;
                background-color: $background-color;
                color: $white;
                font-size:0.7rem;
                padding: 13px 20px; 
                border:none;
                &:hover{
                    background-color: $purple;
                    transition: all 300ms;
                }  
            } 
            figure{
                display: flex;
                flex-flow: column;
                align-items: baseline;
                position: relative;
                margin-left:1.05rem;
                .header__photo--painting{
                    height: 750px;
                    object-fit: cover;  
                }
                figcaption{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 0.8rem;
                    font-size: 13px;
                    color: $background-color;
                    padding:1.2rem;
                    padding-bottom: 10px;
                    margin:-4rem;
                    margin-left: 0rem;
                    background-color: #f1f1f1b0;
                    img{
                        width:70px;
                        height: auto;  
                    }
                }
            }          
        }
    }
}


@media screen and (min-width: 1100px){
    header .header{
        flex-direction: row!important;
        &__titre h1{
            position: absolute;
            top: 11rem;
            z-index: 10;
            font-size: 3.4rem!important;
        }
        .header__titre{
            margin-top: 8.25rem;
            min-width:20rem;
            height: 37.5rem!important;
        }
        .header__titre--calendar{
            min-width: 500px!important;
            margin-top: 15rem;
            margin-bottom:1.5rem;
        }
        .header__titre--social-networks{
            margin-top: 9rem!important;
        }
        .header__photo figure{
            .header__photo--painting{
                height: 45.7rem;
            }
        }
    }
}

@media screen and (min-width: 1300px){
    header {
        .header__photo button{
        font-size: 1.5rem!important;
        top:20px!important;
        }
        .header__titre{
            min-width: 26.4rem!important;
            h1{
                font-size: 4.3rem!important;
            }
        } 
    }
    
}