@import 'color';

*,
body,
html{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    text-decoration: none;
    max-width:100%; 
    scroll-behavior: smooth;
    font-size: 20px;
    font-family: "Museo Sans 500";  
}
body{
    max-width:1717px;
    margin:auto;
}
header{
    background-color: $background-color;
    height: 750px;
// sidebar
    .sidebar{
        display: flex;
        flex-direction: column;
        position: fixed; 
        height: 1800px;
        width: 80px;
        padding-bottom: 2rem;;
        background-color: $white;
        &__logo{
            box-shadow: 0.5px 0.5px 3px rgba(57, 58, 68, 0.6);
        }
        &__hamburger{
            box-shadow: 0.8px 0px 3px rgba(57, 58, 68, 0.6)!important;
            background-color: $background-color;
            height: 80px;
            width: 80px;
            cursor: pointer;
            border-top: solid 1px $white;
            border-bottom: none;
            border-right: none;
            border-left: none;
            box-shadow: 0.5px 0.5px 3px rgba(57, 58, 68, 0.1);
            &-l1,
            &-l2, 
            &-l3{
                content:"";
                display: block;
                position: absolute;
                width: 24px;
                border: solid 1.1px $white;
                background-color: $white;
                border-radius: 2px;
            }
            &-l1{
                left:30px;
                top:120px;
            }
            &-l2{
                left:30px;
                top:127px;
            }
            &-l3{
                left:30px;
                top:134px;
            }
        }
        &__icone{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 3.7rem;
            &--link{
                    padding-top: 45px;
                    padding-bottom: 28px;
                    margin-bottom: 1rem;
                    font-family: 'Museo Sans 700';
                    position: relative;
                    color: $background-color;
                    &::after{
                        content:"";
                        display: inline-block;
                        position: absolute;
                        width: 20px;
                        border-bottom: solid 1px rgba(67, 75, 156, 0.6);
                        left:0;
                        bottom:0;
                    }
                    &::before{
                        content:"";
                        display: inline-block;
                        position: absolute;
                        width: 20px;
                        border-bottom: solid 1px rgba(67, 75, 156, 0.6);
                        left:0;
                        top:155px;
                    }
            }
            & i{
                position: relative; 
                color: $background-color; 
                &::after{
                    content:"";
                    display: inline-block;
                    position: absolute;
                    width: 20px;
                    border-bottom: solid 1px rgba(67, 75, 156, 0.6);
                    left: 0;
                    top: 55px;
                }    
             
            }
        }
    }

// headerleft
    .header{
        display: flex;
        flex-direction: column;
        .header__titre{
            margin-left: 8rem;
            padding-top: 8.7rem;
            color: $white;
            min-width: 300px;
            max-width: 600px;
            h1{
                font-size: 2rem;
                font-family: 'Museo 900';
                text-transform : uppercase;
                margin: 30px auto;
            }
            span{
                font-style: italic;
                border: solid 1px white;
                padding:4px 12px;
                border-radius:5px;
                background-color: $white;
                color: $background-color;
            }
            .header__titre--calendar {
                font-family: 'Museo sans 300';
                i{
                    position: relative;
                    border: solid 1px $purple;
                    padding:10px;
                    border-radius: 50%;
                    background-color: $purple;
                    margin-right: 10px;
                    &::after{
                        content:"31";
                        position: absolute; 
                        font-size: 10px;;
                        left:14px;
                        top:17px;
                    }
                }  
            }
            button{
                background-color: $background-color;
                border: solid 1px $white;
                margin-top: 30px;
                padding:17px 40px;
                color: $white;
                font-family: 'Museo sans 300';
            }
            .header__titre--social-networks{
                margin-top: 7rem;
                display: flex;
                align-items: center;
                column-gap: 1.5rem;
                margin-bottom:1rem;
                & i {
                    font-size: 1.6rem;
                }
            }
        }
        .header__photo{
            margin-left:80px;
            
            button{
                position: absolute;
                z-index: 10;
                right: 45px;
                top:30px;
                background-color: $background-color;
                color: $white;
                font-size:0.7rem;
                padding: 13px 20px; 
                border:none;
                &:hover{
                    background-color: $purple;
                    transition: all 300ms;
                }  
            } 
            figure{
                display: flex;
                flex-flow: column;
                position: relative;
                img{
                    height: 750px;
                    object-fit: cover;  
                }
                figcaption{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 15px;;
                    font-size: 15px;
                    color: $background-color;
                    padding:1rem;
                    margin:-3.9rem;
                    margin-left: 0rem;
                    background-color: #f1f1f1b0;
                    img{
                        width:50px;
                        height: auto;
                       
                    }

                }
            }          
        }
    }
}

@media screen and (min-width: 1000px){
    .header{
        flex-direction: row!important;
        height: 650px;
        &__titre h1{
            position: absolute;
            z-index: 10;
            font-size: 3rem!important;
        }
        .header__titre--calendar{
            min-width: 500px!important;
            margin-top: 12rem;
        }
    }
}

@media screen and (min-width: 1300px){
    header {
        .header__photo button{
        font-size: 1.5rem!important;
        top:20px!important;
        }
        .header__titre h1{
        font-size: 3.5rem!important;
        }
    }
    
}