@import 'color';
@import 'mixin';

*,
body,
html{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    text-decoration: none;
    max-width:100%; 
    scroll-behavior: smooth;
    font-size: 22px;
    font-family: "Museo Sans 500";
    color: white;  
}
body{
    max-width:1717px;
    margin:auto;
}
header{
    background-color: $background-color;
    height: 768px;
// sidebar
    .sidebar{
        display: flex;
        flex-direction: column;
        position: fixed; 
        width: 4.7rem;
        height:55rem;
        padding-bottom: 2rem;
        background-color: white;
        &__logo{
            @include shadow;        
        }
        &__hamburger{
            @include shadow;
            background-color: $background-color;
            height: 5rem;
            width: 4.7rem;
            cursor: pointer;
            border-top: solid 2px #f1f1f1b0;
            border-bottom: none;
            border-right: none;
            border-left: none;
            &-l1,
            &-l2, 
            &-l3{
                content:"";
                display: block;
                position: absolute;
                width: 1.4rem;
                border: solid 2px white;
                background-color: white;
                border-radius: 4px;
                left: 1.8rem;
            }
            &-l1{
                top:155px;
            }
            &-l2{
                top:165px;
            }
            &-l3{
                top:175px;
            }
        }
        &__icone{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 5rem;
            &--link{
                    padding-top: 2rem;
                    padding-bottom: 1.5rem;
                    margin-bottom: 1rem;
                    font-family: 'Museo Sans 700';
                    position: relative;
                    color: $background-color;
                    &::after{
                        @include pseudoElement;
                        bottom: -10px;
                    }
                    &::before{
                        @include pseudoElement;
                        top:185px;
                    }
            }
            & i{
                position: relative; 
                color: $background-color; 
                font-size: 1.3rem;
                &::after{
                    @include pseudoElement;
                    top: 3.5rem;
                }     
            }
        }
    }

// header left text and painting
    .header{
        display: flex;
        flex-direction: column;
        background-color: $background-color;
        .header__titre{
            margin-left: 8rem;
            padding-top: 2rem;
            color: white;
            h1{
                font-size: 2rem;
                font-family: 'Museo 900';
                text-transform : uppercase;
                margin: 2rem auto;
            }
            span{
                font-style: italic;
                border: solid 1px white;
                padding:4px 12px;
                border-radius:5px;
                background-color: white;
                color: $background-color;
            }
            .header__titre--calendar {
                font-family: 'Museo sans 300';
                i{
                    position: relative;
                    border: solid 1px $purple;
                    padding:10px;
                    border-radius: 50%;
                    background-color: $purple;
                    margin-right: 10px;
                    font-size:1.3rem;
                    &::after{
                        content:"31";
                        position: absolute; 
                        font-size: 15px;
                        left:16px;
                        top:21px;
                    }
                }  
            }
            button{
                background-color: $background-color;
                border: solid 1px white;
                margin-top: 1.3rem;;
                @include paddingButton;
                color: white;
                font-family: 'Museo sans 300';
            }
            .header__titre--social-networks{
                margin-top: 5rem;
                display: flex;
                align-items: center;
                column-gap: 1.5rem;
                margin-bottom:1rem;
                & i {
                    font-size: 1.6rem;
                }
            }
        }
        .header__painting{
            margin-left:80px;
            button{
                position: absolute;
                z-index: 10;
                right: 1rem;
                top: 1.1rem;
                background-color: $background-color;
                color: white;
                font-size:0.7rem;
                @include paddingButton;
                border:none;
                &:hover{
                    background-color: $purple;
                    transition: all 300ms;
                }  
            } 
            figure{
                display: flex;
                flex-flow: column;
                margin-left:1.05rem;
                .header__painting--photo{
                    height: 768px;
                    object-fit: cover;  
                }
                figcaption{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 0.8rem;
                    font-size: 13px;
                    color: $background-color;
                    padding:0.9rem;
                    margin:-4rem;
                    margin-left: 0rem;
                    background-color: #f1f1f1b0;
                    img{
                        width:3rem;
                        height: auto;  
                    }
                }
            }          
        }
    }
}

// main
.block{
    &__left{
        padding-left: 7rem;
        padding-top:30rem;
        background-color: $background-color;
        & p:nth-of-type(1){
            padding: 2rem 0;
            font-size: 1.9rem;
            font-family:"Museo 700";
        }
        & p:nth-of-type(2){
            font-family: "Museo Sans 300";
            font-size: 1.1rem;
            span{
                font-family: "Museo Sans 700";
                font-size: 1.1rem;
            }
        }
        & p:nth-of-type(3){
            color: #f1f1f1b0;
            padding: 1rem 0;
            font-size:0.72rem;
        }
        &--button-tarif{
            background-color: transparent;
            border: none;
            font-size:0.9rem;
            border-bottom: solid 1px white; 
            padding-bottom: 0.3rem;
            font-family: "Museo Sans 700";
            & i{
                @include chevron;
            }
        }
        h2{
            font-size: 1.8rem;
            padding: 2rem 0;
            font-family: "Museo 900";
        }
        &--text-one{
            color: #BAABEB;
            font-size: 0.9rem;
            padding: 0 2rem 1rem 0;

        }
        &--text-two,
        &--text-three{
            font-family: "Museo Sans 300";
            font-size: 20px;
            padding-right: 2rem;
            span{
                font-family:"Museo Sans 700";
            }
        }
        &--text-three{
            display: none;
        }
        &--button-see-more{
            background-color: transparent;
            padding: 1.8rem 0;
            font-size:0.9rem;
            border: none;
            & i {
                @include chevron;
            }

        }
    }
    &__right{
        background-color: white;
        padding-left: 6rem;
        padding-top:2rem;
        display: flex;
        flex-direction: column;
        column-gap: 2rem;
        align-items: center;
        & figure{        
            padding:1rem;       
            & figcaption {
                color: #BCBCBC;
                font-size: 0.55rem;  
                max-width:480px;  
                padding-top:5px;              
            }
        }
        .block__right--button-virtual-visit{
            background-color: transparent;
            border-color: $background-color;
            color: $background-color;
            padding: 4px 7px;;
        }
        
    }
}





@media screen and (min-width: 1100px){
    header .header{
        flex-direction: row!important;
        &__titre h1{
            position: absolute;
            top: 11rem;
            z-index: 10;
            font-size: 3.4rem!important;
        }
        .header__titre{
            margin-top: 8.25rem;
            min-width:20rem;
            height: 37.5rem!important;
        }
        .header__titre--calendar{
            min-width: 500px!important;
            margin-top: 15rem;
            margin-bottom:1.5rem;
        }
        .header__titre--social-networks{
            margin-top: 8rem!important;
        }
        .header__painting figure{
            .header__painting--photo{
                height: 45.7rem;
            }
        }
    }
    main .block{
        display: flex;
        padding-top:10.5rem;
        &__left{
            padding-top:0rem;
        }
        
    }
}

@media screen and (min-width: 1300px){
    header {
        .header__titre{
            min-width: 26.4rem!important;
            h1{
                font-size: 4.3rem!important;
            }
        } 
    }
    
}

@media screen and (min-width: 1600px){
    header {
        .header__painting button{
        font-size: 1rem!important;
        top: 1.5rem!important;
        right: 18%!important;
        }
    }
}