@import 'color';

*,
::before,
::after,
body,
html{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    text-decoration: none;
    max-width:100%; 
    scroll-behavior: smooth;
    font-size: 20px;
}

header{
    background-color: $background-color;
    .sidebar{
        display: flex;
        flex-direction: column;
        height: 1800px;
        width: 80px;
        padding-bottom: 2rem;;
        background-color: #f1f1f1;
        box-shadow: 0.5px 0.5px 3px rgba(57, 58, 68, 0.6);

        &__hamburger{
            background-color: $background-color;
            height: 80px;
            width: 80px;
            cursor: pointer;
            border-top: solid 1px #f1f1f1;
            border-bottom: none;
            border-right: none;
            border-left: none;
            box-shadow: 0.5px 0.5px 3px rgba(57, 58, 68, 0.1);
            &-l1,
            &-l2, 
            &-l3{
                content:"";
                display: block;
                position: absolute;
                width: 24px;
                border: solid 1.1px #f1f1f1;
                background-color: #f1f1f1;
                border-radius: 2px;
            }
            &-l1{
                left:30px;
                top:120px;
            }
            &-l2{
                left:30px;
                top:127px;
            }
            &-l3{
                left:30px;
                top:134px;
            }
        }
        &__icone{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap:2.5rem;
            &--link{
                position: relative;      
                &::after{
                    content:"";
                    display: inline-block;
                    position: absolute;
                    width: 20px;
                    border-bottom: solid 1.7px rgba(67, 75, 156, 0.6);
                    left: 0;
                    top: 55px;
                }    
                &:nth-of-type(1){
                    padding: 35px;
                    margin-bottom:20px;
                    font-weight: 600;
                    &::after{
                        left:30px;
                        top:80px;
                    }
                }
                &:nth-of-type(2)::before{
                    content:"";
                    display: inline-block;
                    position: absolute;
                    width: 20px;
                    border-bottom: solid 1px rgba(67, 75, 156, 0.6);
                    left: 0;
                    bottom: 55px;
                }
            }
        }
    }
}